*{
    box-sizing: border-box;
}
body{
    background-color: black; 
    margin:0;
    padding: 0;
    color: white;
}
.container{
    width:80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    h1{
        color:white;
        position: absolute;
    }
    p{
        color:white;
        position: absolute;
        top: 50px;
        font-size: 20px;
    }
}
/* LIST */
form{
    width:80vw;
    height: 90vh;
    padding-left: 30vw;
    padding-top: 30vh;
    z-index: 1;
    color: white;
    label{
        margin: 25px;
        display: block;
    }
}