/* 1.jumping_dots 
.jumping_dots{
 @include loading;
    align-items: center;
    //display: none; //to do few signs
    .dot{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: black;
        margin-left: 2%;
        float: left;
    }
}
.jumping_dots div{
    &:first-child{
        animation: jumping_dots_animation 1s infinite ease-in-out;
    }
    &:nth-last-child(2){
        animation: jumping_dots_animation 1s 0.20s infinite ease-in-out;
    }
    &:last-child{
        animation: jumping_dots_animation 1s 0.40s infinite ease-in-out;
    }
}
@keyframes jumping_dots_animation{
    0%{
        margin-top: 0px;
    }
    30%{
        margin-top: -80px;
    }
    70%,100%{
        margin-top: 0px;
    }
}*/

/* 2.pulsing_dots
.pulsing_dots{
    @include loading;
    align-items: center;
    //display: none;
    div{
        width: 10px;
        height: 10px;
        margin-left: 25px;
        border-radius: 50%;
        background-color: white;
        &:first-child{
            animation: pulsing_dots_animation 0.8s -0.40s infinite ease-in-out alternate;
        }
        &:nth-last-child(2){
            animation: pulsing_dots_animation 0.8s -0.2s infinite ease-in-out alternate;
        }
        &:last-child{
            animation: pulsing_dots_animation 0.8s 0s infinite ease-in-out alternate;
        }
    }
}
@keyframes pulsing_dots_animation{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(2);
    }
}*/

/* 3.loading_rectangles
.loading_rectangles{
    @include loading;
    align-items: center;
    //display: none;
    .rectangle{
        @include style_rectangle;
    }
}
.loading_rectangles div{
    &:first-child {
      animation: loading_rectangles_animation 1.6s 0.2s infinite ease-in-out ;
    }
    &:nth-child(2) {
      animation: loading_rectangles_animation 1.6s 0.4s infinite ease-in-out;
    }
     &:nth-child(3) {
      animation: loading_rectangles_animation 1.6s 0.6s infinite ease-in-out ;
    }
     &:nth-child(4) {
      animation: loading_rectangles_animation 1.6s 0.8s infinite ease-in-out;
    }
    &:last-child{
      animation: loading_rectangles_animation 1.6s 1.0s infinite ease-in-out;
    }
}
@keyframes loading_rectangles_animation{
    0%{
        transform: scaleY(1);
    }
    25%{
        transform: scaleY(3);
    }
    50%,100%{
        transform: scaleY(1);
    }
}
*/
/* 4.loading_circles
.circles_container{
    @include loading;
    align-items: center;
    //background-color: white;
    //display: none;
    //background-color: grey;
}
.circle_outside{
    width: 50px;
    height: 50px;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid grey;
    border-left: 5px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    //position: relative;
    animation: loading_circles_animation 2s infinite linear;
}
.circle_inside{
    width: 25px;
    height: 25px;
    border-top: 5px solid white;
    border-right: 5px solid grey;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    //position: absolute;
    animation: circle-animation 3s infinite linear;
}
.circle_dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    
}
@keyframes loading_circles_animation{
    100%{
        transform: rotate(360deg);
    }
} */

/* 5.loading_figures
.loading_figures_container{
     @include loading;
    width:20vw;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
    //display: none;
}

.figure1, .figure2{
    width: 7vh;
    height: 7vh;
    border: 2px solid blue;
    &:first-child{
        animation: figure1_animation 6s infinite linear;
    }
    &:last-child{
        animation: figure2_animation 6s infinite linear;
    }
}
@keyframes figure1_animation{
    0%{
        width: 7vh;
        height: 7vh;
        border: 2px solid blue;
    }
    25%{
        border: 2px solid red;
        border-radius: 50%;
        transform: rotate(90deg) scale(2);
    }
    50%{
        width: 7vh;
        height: 7vh;
        border: 5px solid green;
        border-radius: 50%;
        transform: translate(100px,-50px);
    }
    75%{
        border: 2px solid blue;
        border-radius: 50%;
        transform: translate(100px,0px);
    }
    100%{
        width: 7vh;
        height: 7vh;
        border: 2px solid blue;
    }
}
    @keyframes figure2_animation{
    0%{
        width: 7vh;
        height: 7vh;
        border: 2px solid blue;
    }
    25%{
        border: 2px solid red;
        border-radius: 50%;
        transform: rotate(90deg) scale(2);
    }
    50%{
        width: 7vh;
        height: 7vh;
        border: 5px solid yellow;
        border-radius: 50%;
        transform: translate(-100px,50px);
    }
    75%{
        border: 2px solid blue;
        border-radius: 50%;
        transform: translate(-100px,0px);
    }
    100%{
        width: 7vh;
        height: 7vh;
        border: 2px solid blue;
    }
}

/* 6.loading_text
.loading_text_container{
    background-color:white;
    @include loading;
    align-items: center;
    //display: none;
    span{
        font-size: 40px;
        color: red;
        font-weight: 800px;
        margin-left: 5px;
    }
}

.loading_text_container span{
    &:first-child {
      @include text_animation(0s);
    }
    &:nth-child(2) {
      @include text_animation(0.2s);
    }
     &:nth-child(3) {
      @include text_animation(0.4s);
    }
     &:nth-child(4) {
      @include text_animation(0.6s);
    }
     &:nth-child(5) {
      @include text_animation(0.8s);
    }
     &:nth-child(6) {
      @include text_animation(1s);
    }
     &:nth-child(7) {
     @include text_animation(1.2s);
    }
     &:nth-child(8) {
      @include text_animation(1.4s);
    }
     &:nth-child(9) {
      @include text_animation(1.6s);
    }
    &:last-child{
      @include text_animation(1.8s);
    }
}

@keyframes loading_text_animation{
    0%{
        opacity: 1;
        transform: scale(1.5);
    }
    100%{
        opacity: 0;
    }
}*/

