//used in 1,2,3,4
@mixin loading{
    width:40vw;
    height: 30vh;
    margin: 30vh auto;
    display: flex;
    justify-content: center;
    position: absolute;
}
//used in 3.loading_rectangles
@mixin style_rectangle{
    width: 20px;
    height: 50px;
    background-color: black;
    margin-left: 5%;
    float: left;
}
//used in 6.loading_text
@mixin text_animation($time){
    animation: loading_text_animation 2s $time infinite alternate;
}